/*navbar style*/

.navbar {
  background-color: #008000;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 40px;
}
.logo {
  display: flex;
  align-items: center;
}

.text-container {
  margin-left: 5px;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/*responsive*/

@media (max-width: 768px) {
  .navbar {
    height: 40px; 
  }
}
@media (max-width: 480px) {
  .navbar {
    height: 30px; 
  }
}